{% extends 'base.html' %}
{% block title %}Portfolio{% endblock %}
{% block content %}
<div class="card">
  <h2>Your Positions</h2>

  {% include "_positions.html" %}
</div>

<h3>Transaction History</h3>
<div id="transactions-table"
     hx-get="/transactions"
     hx-trigger="every 5s"
     hx-swap="innerHTML">
    Loading transactions...
</div>

</div>

<div class="card">
  <h2>Historical Performance</h2>

  <div
    id="performance-chart-wrapper"
    hx-get="{{ url_for('performance_chart_png') }}"
    hx-trigger="load"
    hx-target="#performance-chart-wrapper"
    hx-swap="innerHTML"
  >
    <p>Loading performance chart…</p>
  </div>
</div>



{% endblock %}